<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Gang Special Rules</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% if orient == 'portrait' %}
        <h1>{{ gang_name }}</h1>
        <h2>{{ gang_type }}</h2>
    {% else %}
        <h1>{{ gang_name }} - {{ gang_type }}</h1>
    {% endif %}
    <h2>Special Rules Quick Reference</h2>
    {% if gang_skills is defined %}
        <h3>Gang Skills</h3>
        <table>
            <thead>
                <tr>
                    <th>Skill Name</th>
                    <th>Skill Set</th>
                    <th>Skill Description</th>
                </tr>
            </thead>
            <tbody>
                {% for row in gang_skills.index %}
                    <tr>
                        <td>{{ gang_skills['Skill Name'][row] }}</td>
                        <td>{{ gang_skills['Skill Set'][row] }}</td>
                        <td>{{ gang_skills['Description'][row] }}
                            {% if gang_skills['Actions'][row] is iterable %}
                                {% for ability in gang_skills['Actions'][row] %}
                                    <table>
                                        <thead>
                                            <th>{{ ability }}</th>
                                            <th>{{ actions[actions['Action Name']==ability]['Action Type'].values[0] }}</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                            <td colspan="2">{{ actions[actions['Action Name']==ability]['Description'].values[0] }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                {% endfor %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
    <h3>No gang skills found.</h3>
    {% endif %}
    {% if wyrd_powers is not none %}
    <br>
    <h3>Wyrd Powers</h3>
    <table>
        <thead>
            <tr>
                <th>Power Name</th>
                <th>Discipline</th>
                <th>Action Type</th>
                <th>Power Description</th>
            </tr>
        </thead>
        <tbody>
            {% for row in wyrd_powers.index %}
                <tr>
                    <td>{{ wyrd_powers['Power Name'][row] }}</td>
                    <td>{{ wyrd_powers['Discipline'][row] }}</td>
                    <td>{{ wyrd_powers['Action Type'][row] }}</td>
                    <td>{{ wyrd_powers['Description'][row] }}
                        {% if wyrd_powers['Actions'][row] is iterable %}
                                {% for ability in wyrd_powers['Actions'][row] %}
                                    <table>
                                        <thead>
                                            <th>{{ ability }}</th>
                                            <th>{{ actions[actions['Action Name']==ability]['Action Type'].values[0] }}</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                            <td colspan="2">{{ actions[actions['Action Name']==ability]['Description'].values[0] }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                {% endfor %}
                            {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    {% if gang_specials is not none %}
    <br>
    <h3>Special Rules</h3>
    <table>
        <thead>
            <tr>
                <th>Special Rule</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for row in gang_specials.index %}
            <tr>
                <td>{{ gang_specials['Rule'][row] }}</td>
                <td>{{ gang_specials['Description'][row] }}
                    {% if gang_specials['Actions'][row] is iterable %}
                                {% for ability in gang_specials['Actions'][row] %}
                                    <table>
                                        <thead>
                                            <th>{{ ability }}</th>
                                            <th>{{ actions[actions['Action Name']==ability]['Action Type'].values[0] }}</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                            <td colspan="2">{{ actions[actions['Action Name']==ability]['Description'].values[0] }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                {% endfor %}
                            {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    {% endif %}
    {% if weapon_traits is defined %}
    <br>
    <h3>Weapon Traits</h3>
    <table>
        <thead>
            <tr>
                <th>Trait Name</th>
                <th>Trait Description</th>
            </tr>
        </thead>
        <tbody>
            {% for row in weapon_traits.index %}
            <tr>
                <td>{{ weapon_traits['Trait Name'][row] }}</td>
                <td>{{ weapon_traits['Description'][row] }}
                    {% if weapon_traits['Actions'][row] is iterable %}
                                {% for ability in weapon_traits['Actions'][row] %}
                                    <table>
                                        <thead>
                                            <th>{{ ability }}</th>
                                            <th>{{ actions[actions['Action Name']==ability]['Action Type'].values[0] }}</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                            <td colspan="2">{{ actions[actions['Action Name']==ability]['Description'].values[0] }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                {% endfor %}
                            {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    {% else %}
    <h3>No weapon traits found.</h3>
    {% endif %}
    {% if wargear is defined %}
    <br>
    <h3>Wargear</h3>
    <table>
        <thead>
            <tr>
                <th>Wargear Name</th>
                <th>Wargear Description</th>
                <th>Additional Rules</th>
            </tr>
        </thead>
        <tbody>
            {% for row in wargear.index %}
            <tr>
                <td>{{ wargear['Wargear Name'][row] }}</td>
                <td>{{ wargear['Description'][row] }}
                    {% if wargear['Actions'][row] is iterable %}
                                {% for ability in wargear['Actions'][row] %}
                                    <table>
                                        <thead>
                                            <th>{{ ability }}</th>
                                            <th>{{ actions[actions['Action Name']==ability]['Action Type'].values[0] }}</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                            <td colspan="2">{{ actions[actions['Action Name']==ability]['Description'].values[0] }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                {% endfor %}
                            {% endif %}
                </td>
                <td>{% if wargear['Additional Rules'][row] is mapping %}
                    {% for k in wargear['Additional Rules'][row].keys() %}
                        {% if k != 'Actions' %}
                            {{ k }}:
                            {% for v in wargear['Additional Rules'][row][k] %}
                                {{ v }}</p>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                </td>

            </tr>
            {% endfor %}
        </tbody>
        </table>
    {% else %}
    <h3>No wargear found.</h3>
    {% endif %}
    {% if conditions is defined %}
    <br>
    <h3>Conditions</h3>
    <table>
        <thead>
            <tr>
                <th>Condition Name</th>
                <th>Condition Description</th>
                <th>Additional Rules</th>
            </tr>
        </thead>
        <tbody>
            {% for row in conditions.index %}
            <tr>
                <td>{{ conditions['Condition Name'][row] }}</td>
                <td>{{ conditions['Description'][row] }}
                    {% if conditions['Actions'][row] is iterable %}
                                {% for ability in conditions['Actions'][row] %}
                                    <table>
                                        <thead>
                                            <th>{{ ability }}</th>
                                            <th>{{ actions[actions['Action Name']==ability]['Action Type'].values[0] }}</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                            <td colspan="2">{{ actions[actions['Action Name']==ability]['Description'].values[0] }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                {% endfor %}
                            {% endif %}
                </td>
                <td>{% if conditions['Additional Rules'][row] is mapping %}
                    {% for k in conditions['Additional Rules'][row].keys() %}
                        {% if k != 'Actions' %}
                            {{ k }}:
                            {% for v in conditions['Additional Rules'][row][k] %}
                                {{ v }}</p>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                </td>

            </tr>
            {% endfor %}
        </tbody>
        </table>
    {% endif %}    
    {% if hide_unknown == 'False' %}
        {% if unknown_rules is not none %}
        <br>
        <p>The following rules were found in the gang list, but not recognised:
        </p>
        <p>{{ unknown_rules }}</p>
        {% endif %}
    {% endif %}
    {% if hide_ooc == 'False' %}
        {% if ignore_gang is not none %}
        <br>
        <p>The following rules were found in the gang list, but are only used outside of games:
        </p>
        <p>{{ ignore_gang }}</p>
        {% endif %}
    {% endif %}
    <hr></hr>
    <footer>
        <div class="toolname">Mercator Legis</div>
        <div class="toolurl">remysparks.pythonanywhere.com</div>
    </footer>
</body>
</html>