<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Gang Special Rules</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        body {
            background-color: cornsilk;
        }
    </style>
</head>
<body>
    <h1>MERCATOR LEGIS</h1>
    <h2>Necromunda Special Rules Quick Reference Generator</h2>
    <h4>by RemySparks</h4>
        {% with messages = get_flashed_messages() %}
        <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endwith %}
        <form method="post">
            <label for="gangpath">Yaktribe URL:</label>
            <input name="gangpath" id="gangpath" type="url" size="50" value = "https://yaktribe.games/underhive/gang/" required>
            <input type="submit" formtarget = "_self" value="Gather Special Rules">
            <table style="margin-left: 5%;">
                <tr>
                    <td style="border-style:hidden">
                        <label for="portrait">Portrait:</label>
                    </td>
                    <td style="border-style:hidden">
                        <input name="orientation" id="portrait" value="portrait" type="radio" checked>
                    </td>
                    <td style="border-style:hidden;">
                        <label for="hideunrecognized">Hide unrecognized keywords:</label>
                    </td>
                    <td style="border-style:hidden">
                        <input name="hideunrecognized" id="hideunrecognized" type="checkbox">
                    </td>
                </tr>
                <tr>
                    <td style="border-style:hidden">
                        <label for="landscape">Landscape:</label>
                    </td>
                    <td style="border-style:hidden">
                        <input name="orientation" id="landscape" value="landscape" type="radio">
                    </td>
                    <td style="border-style:hidden;">
                        <label for="hideooc">Hide keywords only used outside of games:</label>
                    </td>
                    <td style="border-style:hidden">
                        <input name="hideooc" id="hideooc" type="checkbox" checked>
                    </td>
                </tr>
            </table>
        </form>
    <p>This web tool aims to make Necromunda slightly more playable by 
        collecting together the various rules needed for a specific gang
        and presenting them on a few pages, rather than scattered over 
        several volumes. 
    </p>
    <p>It uses information about your gang from <a href="https://yaktribe.games/underhive">YakTribe</a>,
        together with rules text compiled by <a href="https://necrovox.org/"> Necrovox</a>.
    </p>
    <hr></hr>
    <p>Rules currently supported:</p>
    <ul>
        <li>Skills</li>
        <li>Gang-Specific Skills, including Orlock Legendary Names</li>
        <li>Wyrd Powers, including Delaque Psychoterica</li>
        <li>Goliath Genesmithing</li>
        <li>Van Saar Cyberteknika</li>
        <li>Chems, including Escher Chem-Alchemy</li>
        <li>Weapon Traits</li>
        <li>Armour and Field Armour, including CGC masks</li>
        <li>Vehicle Locomotion, Upgrades, and Wargear</li>
        <li>Nice formatting for actions granted by wargear/other rules.</li>
        <li>Chains of rules granted by other rules.</li>
        <li>Pet special rules.</li>
        <li>Most Conditions applied by other keywords.</li>
        <li>Most Hangers-On.</li>
    </ul>
    <p>Currently not supported:</p>
    <ul>
        <li>Other gang-specific Wargear</li>
        <li>Other gang-specific special rules</li>
    </ul>
    <p>Intentionally not included:</p>
    <ul>
        <li>Rules that grant stat boosts that are automatically incorporated into fighter profiles.</li>
        <li>Rules that impact events outside a game, e.g. gang selection, scenario selection, fighter advancement, trading post...</li>
        <li>Details of rules that split into multiple options, where YakTribe doesn't display the selected option, e.g. Archaeotech Device, Cawdor Path of Faith.</li>
        <li>Pet ownership rules.</li>
        <li>Hangers-On whose rules don't have a keyword.</li>
        <li>Dramatis Personae special rules.</li>
    </ul>
    <hr></hr>
    <p>Please let me know if you have any issues. You can contact me
        <a href="{{url_for('contact')}}">here</a>.
    </p>
    <p>This tool is provided free for community use, but there are 
        some small hosting costs, as well as my time to improve and 
        maintain it. If you would like to contribute, you can do that here:</p>
    <script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Support Me on Ko-fi', '#29abe0', 'I2I7QHY6P');kofiwidget2.draw();</script> 

</body>
</html>
